{% extends "SiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
	<h1>ERII</h1>
	<h2>Liste des semestres</h2>
	<br>

	<ul>
		{% for sem in sems %}
			{% if sem | length %}
				<li><a href="{{ path('SiteBundle_showsem', {'semestre': loop.index}) }}">Semestre {{ loop.index }} ({{ sem }} documents)</a></li>
			{% endif %}
		{% else %}
			<li>Pas (encore !) d'articles</li>
		{% endfor %}
	</ul>
{% endblock %}